* {
  box-sizing: border-box;
}

body {
  cursor: default;
  -webkit-user-select: none;
          user-select: none;
}

li, tbody > tr {
  &:hover {
    background-color: #fafafa;
  }
}

th {
  text-align: left;
}

[draggable] {
  -webkit-user-drag: element;
}
