$main-font-size: 16px;

.side-menu {
  .section {
    margin: 20px 0;
    font-size: $main-font-size;
  }

  .search {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: #555;
  }

  .section-heading {
    margin: 10px 0;
    text-transform: uppercase;
    color: #bbb;
    font-size: 8px;
  }

  .list {
    margin-left: 5px;

    li {
      line-height: 22px;
    }
  }

  .new-playlist {
    border: 0;
    outline: 0;
    font-size: $main-font-size - 4;
  }
}
