<div class="side-menu">
  <div class="section">
    <input class="search" ng-model="query.search" placeholder="search...">
  </div>

  <div class="section">
    <h3 class="section-heading">Your Music</h3>
    <ul class="list your-music-list">
      <li>artists</li>
      <li>albums</li>
    </ul>
  </div>

  <div class="section">
    <h3 class="section-heading">Playlists</h3>
    <ul class="list playlist-list">
      <li ng-repeat="playlist in playlists | orderBy:'+'">
        {{playlist}}
      </li>
    </ul>
    <form class="create-playlist" ng-submit="createPlaylist(newPlaylist)">
      <input class="new-playlist" ng-model="newPlaylist" placeholder="new playlist">
    </form>
  </div>
</div>

<ul class="search-result-list">
  <li ng-repeat="track in searchResults">
    {{track.artist}} - {{track.title}}
  </li>
</ul>

<div class="player"></div>
