<div class="side-menu">
  <div class="section">
    <input class="search" ng-model="query.search" placeholder="search...">
  </div>

  <div class="section">
    <h3 class="section-heading">Your Music</h3>
    <ul class="list your-music-list">
      <li ng-click="viewArtists()">artists</li>
      <li ng-click="viewAlbums()">albums</li>
    </ul>
  </div>

  <div class="section">
    <h3 class="section-heading">Playlists</h3>
    <ul class="list playlist-list">
      <li ng-repeat="playlist in playlists | orderBy:'+'" ng-click="viewPlaylist(playlist)" drop-track="addToPlaylist(playlist, file)">
        {{playlist}}
      </li>
    </ul>
    <form class="create-playlist" ng-submit="createPlaylist(newPlaylist)">
      <input class="new-playlist" ng-model="newPlaylist" placeholder="new playlist">
    </form>
  </div>
</div>

<div class="content" ui-view></div>

<div class="player">
  <div class="now-playing" ng-show="player.nowPlaying">
    <div class="np-song">
      <h2 class="np-title">{{player.nowPlaying.title}}</h2>
      <h3 class="np-artist">{{player.nowPlaying.artist}}</h3>
    </div>
  </div>
  <div class="player-controls">
    <a class="button prev-button" ng-click="player.prev()">
      <i class="fa fa-step-backward"></i>
    </a>
    <a class="button play-button" ng-click="player.resume()" ng-show="player.paused">
      <i class="fa fa-play"></i>
    </a>
    <a class="button pause-button" ng-click="player.pause()" ng-hide="player.paused">
      <i class="fa fa-pause"></i>
    </a>
    <a class="button skip-button" ng-click="player.next()">
      <i class="fa fa-step-forward"></i>
    </a>
  </div>
</div>
